{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["plugin:import/recommended", "airbnb-base", "prettier"],
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["element"] }
    ],
    "linebreak-style": ["error", "unix"],

    "import/prefer-default-export": 0,
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],

    "import/order": [
      "error",
      {
        "warnOnUnassignedImports": true,
        "pathGroups": [
          {
            "pattern": "assets/**",
            "group": "unknown",
            "position": "after"
          }
        ],
        "groups": [
          "type",
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "unknown"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]

    // "no-restricted-imports": "error",
    // "no-console": "warn"
  }
}
